* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
}

.map-container {
  width: 900px;
  height: 530px;
  background: rgb(235, 234, 234);
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.build-container,
#tree {
  width: 600px;
  height: 500px;
}

.quick-book {
  width: 230px;
  height: 500px;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  width: 100px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: rgb(235, 234, 234);
}

table td:nth-child(2) {
  border-left: 2px solid #ebeaea;
  border-right: 2px solid #ebeaea;
}

.center {
  text-align: center;
}

tbody,
td {
  background: #fff;
  border: 1px solid #fff;
}

.sticky {
  padding-bottom: 5px;
  font-weight: 500;
}

.items {
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  border: 1px solid #808080;
}
.items > table > thead {
  visibility: collapse;
}

.indent-1 {
  padding-inline-start: 25px;
}
.indent-2 {
  padding-inline-start: 50px;
}
.indent-3 {
  padding-inline-start: 75px;
}

td,
.action-buttons > span > img {
  cursor: pointer;
}

td > span {
  margin: 5px 0 5px 0;
  padding: 2px;
}

td > span:hover,
.active > td {
  background-color: lightgray;
}
